<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Buttons!</title>
    <link rel="stylesheet" href="../planit.css">
    <link rel="icon" type="image/x-icon" href="https://planit-css.netlify.app/2.0/img/planit.png">
  </head>

  <body class="bg-nightstar font1">
    <main class="h-vh-100 flex ctr">
        <button href="#" class="btn bg-white hover-bg-custom pointer fade-03 bold font1" style="--bg-custom: var(--planit);">Button 1</button>
        <div class="w-1"></div>
        <button href="#" class="btn-slice bg-white hover-bg-custom pointer fade-1 bold font1" style="--bg-custom: var(--planit);">Button 2</button>
        <div class="w-1"></div>
        <button href="#" class="btn-fill bg-white w-5-05 h-2-02 pointer fade-03 bold font1" style="--bg-custom: var(--planit);"><label class="one-row pointer z-index-3 mg-0 absolute center-screen">Button 3</label></button>
    </main>
  </body>
</html>
