<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Buttons!</title>
    <link rel="stylesheet" href="../planit.css">
    <link rel="icon" type="image/x-icon" href="https://planit-css.netlify.app/2.0/img/planit.png">
    <script src="../js/script.js"></script>
  </head>

  <body class="bg-nightstar font1">
    <main class="h-vh-100 flex ctr">

        <!-- Ao alterar o w-5 para w-10, por exemplo, o tamanho dos itens aumenta -->
        <div class="relative w-5 h-3">
            <div class="bg-red w-auto pd-h-1 pd-v-02 h-auto absolute z-index-3 auto text-center center-screen pointer b-radius-02 one-row" 
                        onclick="replaceId2(['b-one'], ['h-0'], ['h-10']);">Meme <i class="mg-left-01 bi bi-caret-down-fill"></i></div>
            <div id="b-one" class="w-full absolute fade top-3 center-h-screen pd-h-05 h-0 z-index-1 scroll">
                <div class="w-auto h-2 flex ctr auto text-center pointer b-radius-02 pd-h-05 mg-v-02 bg-green">Itens</div>
                <div class="w-auto h-2 flex ctr auto text-center pointer b-radius-02 pd-h-05 mg-v-02 bg-green">Itens</div>
                <div class="w-auto h-2 flex ctr auto text-center pointer b-radius-02 pd-h-05 mg-v-02 bg-green">Itens</div>
                <div class="w-auto h-2 flex ctr auto text-center pointer b-radius-02 pd-h-05 mg-v-02 bg-green">Itens</div>
                <div class="w-auto h-2 flex ctr auto text-center pointer b-radius-02 pd-h-05 mg-v-02 bg-green">Itens</div>
                <div class="w-auto h-2 flex ctr auto text-center pointer b-radius-02 pd-h-05 mg-v-02 bg-green">Itens</div>
                <div class="w-auto h-2 flex ctr auto text-center pointer b-radius-02 pd-h-05 mg-v-02 bg-green">Itens</div>
                <div class="w-auto h-2 flex ctr auto text-center pointer b-radius-02 pd-h-05 mg-v-02 bg-green">Itens</div>
            </div>
        </div>




    </main>
  </body>
</html>
