<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Navs!</title>
    <link rel="stylesheet" href="../planit.css">
    <link rel="icon" type="image/x-icon" href="https://planit-css.netlify.app/2.0/img/planit.png">
    <script src="../js/script.js"></script>
  </head>

  <body class="bg-nightstar font1">

    
    <footer class="w-full h-5 m-h-18 bg-console ctr auto pd-bottom-2 pd-top-1">
        <div class="flex ctr auto m-inline m-text-center">
            <p><a href="#" class="mg-h-vw-2 font-1 t-font-08 m-font-08 white op-06 fade-03 hover-op-1">Início</a></p>
            <p><a href="#" class="mg-h-vw-2 font-1 t-font-08 m-font-08 white op-06 fade-03 hover-op-1">Meme</a></p>
            <p><a href="#" class="mg-h-vw-2 font-1 t-font-08 m-font-08 white op-06 fade-03 hover-op-1">Meme</a></p>
            <p><a href="#" class="mg-h-vw-2 font-1 t-font-08 m-font-08 white op-06 fade-03 hover-op-1">Meme</a></p>
            <p><a href="#" class="mg-h-vw-2 font-1 t-font-08 m-font-08 white op-06 fade-03 hover-op-1">Sobre</a></p>
        </div>
        <hr class="w-full-60 op-06 mg-bottom-1 mg-top-0">
        <div class="inline text-center auto">
            <p class="mg-0 white op-06 m-font-08 m-mg-h-2"> © 2024 | Todos os Direitos Reservados</p>
        </div>
    </footer>

  </body>
</html>

