@import url('links.css');
.font1{font-family: 'Poppins', sans-serif;}
.font2{font-family: 'Noto Sans', sans-serif;}
.font3{font-family: 'Oxygen', sans-serif;}
.font4{font-family: 'Raleway', sans-serif;}
.font5{font-family: 'Rubik', sans-serif;}
.font6{font-family: 'Josefin Sans', sans-serif;}
.font7{font-family: Arial, Helvetica, sans-serif;}
.font8{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.font-0       { font-size:  0rem;     }
.font-01       { font-size:  0.1rem;     }
.font-02       { font-size:  0.2rem;     }
.font-03       { font-size:  0.3rem;     }
.font-04       { font-size:  0.4rem;     }
.font-05       { font-size:  0.5rem;     }
.font-06       { font-size:  0.6rem;     }
.font-07       { font-size:  0.7rem;     }
.font-08       { font-size:  0.8rem;     }
.font-09       { font-size:  0.9rem;     }
.font-1        { font-size:    1rem;     }
.font-1-01     { font-size:  1.1rem;     }
.font-1-02     { font-size:  1.2rem;     }
.font-1-03     { font-size:  1.3rem;     }
.font-1-04     { font-size:  1.4rem;     }
.font-1-05     { font-size:  1.5rem;     }
.font-1-06     { font-size:  1.6rem;     }
.font-1-07     { font-size:  1.7rem;     }
.font-1-08     { font-size:  1.8rem;     }
.font-1-09     { font-size:  1.9rem;     }
.font-2        { font-size:    2rem;     }
.font-2-01     { font-size:  2.1rem;     }
.font-2-02     { font-size:  2.2rem;     }
.font-2-03     { font-size:  2.3rem;     }
.font-2-04     { font-size:  2.4rem;     }
.font-2-05     { font-size:  2.5rem;     }
.font-2-06     { font-size:  2.6rem;     }
.font-2-07     { font-size:  2.7rem;     }
.font-2-08     { font-size:  2.8rem;     }
.font-2-09     { font-size:  2.9rem;     }
.font-3        { font-size:    3rem;     }
.font-3-01     { font-size:  3.1rem;     }
.font-3-02     { font-size:  3.2rem;     }
.font-3-03     { font-size:  3.3rem;     }
.font-3-04     { font-size:  3.4rem;     }
.font-3-05     { font-size:  3.5rem;     }
.font-3-06     { font-size:  3.6rem;     }
.font-3-07     { font-size:  3.7rem;     }
.font-3-08     { font-size:  3.8rem;     }
.font-3-09     { font-size:  3.9rem;     }
.font-4        { font-size:    4rem;     }
.font-4-01     { font-size:  4.1rem;     }
.font-4-02     { font-size:  4.2rem;     }
.font-4-03     { font-size:  4.3rem;     }
.font-4-04     { font-size:  4.4rem;     }
.font-4-05     { font-size:  4.5rem;     }
.font-4-06     { font-size:  4.6rem;     }
.font-4-07     { font-size:  4.7rem;     }
.font-4-08     { font-size:  4.8rem;     }
.font-4-09     { font-size:  4.9rem;     }
.font-5        { font-size:    5rem;     }
.font-5-01     { font-size:  5.1rem;     }
.font-5-02     { font-size:  5.2rem;     }
.font-5-03     { font-size:  5.3rem;     }
.font-5-04     { font-size:  5.4rem;     }
.font-5-05     { font-size:  5.5rem;     }
.font-5-06     { font-size:  5.6rem;     }
.font-5-07     { font-size:  5.7rem;     }
.font-5-08     { font-size:  5.8rem;     }
.font-5-09     { font-size:  5.9rem;     }
.font-6        { font-size:    6rem;     }
.font-6-01     { font-size:  6.1rem;     }
.font-6-02     { font-size:  6.2rem;     }
.font-6-03     { font-size:  6.3rem;     }
.font-6-04     { font-size:  6.4rem;     }
.font-6-05     { font-size:  6.5rem;     }
.font-6-06     { font-size:  6.6rem;     }
.font-6-07     { font-size:  6.7rem;     }
.font-6-08     { font-size:  6.8rem;     }
.font-6-09     { font-size:  6.9rem;     }
.font-7        { font-size:    7rem;     }
.font-7-01     { font-size:  7.1rem;     }
.font-7-02     { font-size:  7.2rem;     }
.font-7-03     { font-size:  7.3rem;     }
.font-7-04     { font-size:  7.4rem;     }
.font-7-05     { font-size:  7.5rem;     }
.font-7-06     { font-size:  7.6rem;     }
.font-7-07     { font-size:  7.7rem;     }
.font-7-08     { font-size:  7.8rem;     }
.font-7-09     { font-size:  7.9rem;     }
.font-8        { font-size:    8rem;     }
.font-8-01     { font-size:  8.1rem;     }
.font-8-02     { font-size:  8.2rem;     }
.font-8-03     { font-size:  8.3rem;     }
.font-8-04     { font-size:  8.4rem;     }
.font-8-05     { font-size:  8.5rem;     }
.font-8-06     { font-size:  8.6rem;     }
.font-8-07     { font-size:  8.7rem;     }
.font-8-08     { font-size:  8.8rem;     }
.font-8-09     { font-size:  8.9rem;     }
.font-9        { font-size:    9rem;     }
.font-9-01     { font-size:  9.1rem;     }
.font-9-02     { font-size:  9.2rem;     }
.font-9-03     { font-size:  9.3rem;     }
.font-9-04     { font-size:  9.4rem;     }
.font-9-05     { font-size:  9.5rem;     }
.font-9-06     { font-size:  9.6rem;     }
.font-9-07     { font-size:  9.7rem;     }
.font-9-08     { font-size:  9.8rem;     }
.font-9-09     { font-size:  9.9rem;     }
.font-10       { font-size:   10rem;     }
.font-10-01    { font-size: 10.1rem;     }
.font-10-02    { font-size: 10.2rem;     }
.font-10-03    { font-size: 10.3rem;     }
.font-10-04    { font-size: 10.4rem;     }
.font-10-05    { font-size: 10.5rem;     }
.font-10-06    { font-size: 10.6rem;     }
.font-10-07    { font-size: 10.7rem;     }
.font-10-08    { font-size: 10.8rem;     }
.font-10-09    { font-size: 10.9rem;     }
.font-11       { font-size:   11rem;     }
.font-11-01    { font-size: 11.1rem;     }
.font-11-02    { font-size: 11.2rem;     }
.font-11-03    { font-size: 11.3rem;     }
.font-11-04    { font-size: 11.4rem;     }
.font-11-05    { font-size: 11.5rem;     }
.font-11-06    { font-size: 11.6rem;     }
.font-11-07    { font-size: 11.7rem;     }
.font-11-08    { font-size: 11.8rem;     }
.font-11-09    { font-size: 11.9rem;     }
.font-12       { font-size:   12rem;     }
.font-12-01    { font-size: 12.1rem;     }
.font-12-02    { font-size: 12.2rem;     }
.font-12-03    { font-size: 12.3rem;     }
.font-12-04    { font-size: 12.4rem;     }
.font-12-05    { font-size: 12.5rem;     }
.font-12-06    { font-size: 12.6rem;     }
.font-12-07    { font-size: 12.7rem;     }
.font-12-08    { font-size: 12.8rem;     }
.font-12-09    { font-size: 12.9rem;     }
.font-13       { font-size:   13rem;     }
.font-13-01    { font-size: 13.1rem;     }
.font-13-02    { font-size: 13.2rem;     }
.font-13-03    { font-size: 13.3rem;     }
.font-13-04    { font-size: 13.4rem;     }
.font-13-05    { font-size: 13.5rem;     }
.font-13-06    { font-size: 13.6rem;     }
.font-13-07    { font-size: 13.7rem;     }
.font-13-08    { font-size: 13.8rem;     }
.font-13-09    { font-size: 13.9rem;     }
.font-14       { font-size:   14rem;     }
.font-14-01    { font-size: 14.1rem;     }
.font-14-02    { font-size: 14.2rem;     }
.font-14-03    { font-size: 14.3rem;     }
.font-14-04    { font-size: 14.4rem;     }
.font-14-05    { font-size: 14.5rem;     }
.font-14-06    { font-size: 14.6rem;     }
.font-14-07    { font-size: 14.7rem;     }
.font-14-08    { font-size: 14.8rem;     }
.font-14-09    { font-size: 14.9rem;     }
.font-15       { font-size:   15rem;     }
.font-15-01    { font-size: 15.1rem;     }
.font-15-02    { font-size: 15.2rem;     }
.font-15-03    { font-size: 15.3rem;     }
.font-15-04    { font-size: 15.4rem;     }
.font-15-05    { font-size: 15.5rem;     }
.font-15-06    { font-size: 15.6rem;     }
.font-15-07    { font-size: 15.7rem;     }
.font-15-08    { font-size: 15.8rem;     }
.font-15-09    { font-size: 15.9rem;     }
.font-16       { font-size:   16rem;     }
.font-16-01    { font-size: 16.1rem;     }
.font-16-02    { font-size: 16.2rem;     }
.font-16-03    { font-size: 16.3rem;     }
.font-16-04    { font-size: 16.4rem;     }
.font-16-05    { font-size: 16.5rem;     }
.font-16-06    { font-size: 16.6rem;     }
.font-16-07    { font-size: 16.7rem;     }
.font-16-08    { font-size: 16.8rem;     }
.font-16-09    { font-size: 16.9rem;     }
.font-17       { font-size:   17rem;     }
.font-17-01    { font-size: 17.1rem;     }
.font-17-02    { font-size: 17.2rem;     }
.font-17-03    { font-size: 17.3rem;     }
.font-17-04    { font-size: 17.4rem;     }
.font-17-05    { font-size: 17.5rem;     }
.font-17-06    { font-size: 17.6rem;     }
.font-17-07    { font-size: 17.7rem;     }
.font-17-08    { font-size: 17.8rem;     }
.font-17-09    { font-size: 17.9rem;     }
.font-18       { font-size:   18rem;     }
.font-18-01    { font-size: 18.1rem;     }
.font-18-02    { font-size: 18.2rem;     }
.font-18-03    { font-size: 18.3rem;     }
.font-18-04    { font-size: 18.4rem;     }
.font-18-05    { font-size: 18.5rem;     }
.font-18-06    { font-size: 18.6rem;     }
.font-18-07    { font-size: 18.7rem;     }
.font-18-08    { font-size: 18.8rem;     }
.font-18-09    { font-size: 18.9rem;     }
.font-19       { font-size:   19rem;     }
.font-19-01    { font-size: 19.1rem;     }
.font-19-02    { font-size: 19.2rem;     }
.font-19-03    { font-size: 19.3rem;     }
.font-19-04    { font-size: 19.4rem;     }
.font-19-05    { font-size: 19.5rem;     }
.font-19-06    { font-size: 19.6rem;     }
.font-19-07    { font-size: 19.7rem;     }
.font-19-08    { font-size: 19.8rem;     }
.font-19-09    { font-size: 19.9rem;     }
.font-20       { font-size:   20rem;     }
.font-rem-0       { font-size:  0rem;     }
.font-rem-01       { font-size:  0.1rem;     }
.font-rem-02       { font-size:  0.2rem;     }
.font-rem-03       { font-size:  0.3rem;     }
.font-rem-04       { font-size:  0.4rem;     }
.font-rem-05       { font-size:  0.5rem;     }
.font-rem-06       { font-size:  0.6rem;     }
.font-rem-07       { font-size:  0.7rem;     }
.font-rem-08       { font-size:  0.8rem;     }
.font-rem-09       { font-size:  0.9rem;     }
.font-rem-1        { font-size:    1rem;     }
.font-rem-1-01     { font-size:  1.1rem;     }
.font-rem-1-02     { font-size:  1.2rem;     }
.font-rem-1-03     { font-size:  1.3rem;     }
.font-rem-1-04     { font-size:  1.4rem;     }
.font-rem-1-05     { font-size:  1.5rem;     }
.font-rem-1-06     { font-size:  1.6rem;     }
.font-rem-1-07     { font-size:  1.7rem;     }
.font-rem-1-08     { font-size:  1.8rem;     }
.font-rem-1-09     { font-size:  1.9rem;     }
.font-rem-2        { font-size:    2rem;     }
.font-rem-2-01     { font-size:  2.1rem;     }
.font-rem-2-02     { font-size:  2.2rem;     }
.font-rem-2-03     { font-size:  2.3rem;     }
.font-rem-2-04     { font-size:  2.4rem;     }
.font-rem-2-05     { font-size:  2.5rem;     }
.font-rem-2-06     { font-size:  2.6rem;     }
.font-rem-2-07     { font-size:  2.7rem;     }
.font-rem-2-08     { font-size:  2.8rem;     }
.font-rem-2-09     { font-size:  2.9rem;     }
.font-rem-3        { font-size:    3rem;     }
.font-rem-3-01     { font-size:  3.1rem;     }
.font-rem-3-02     { font-size:  3.2rem;     }
.font-rem-3-03     { font-size:  3.3rem;     }
.font-rem-3-04     { font-size:  3.4rem;     }
.font-rem-3-05     { font-size:  3.5rem;     }
.font-rem-3-06     { font-size:  3.6rem;     }
.font-rem-3-07     { font-size:  3.7rem;     }
.font-rem-3-08     { font-size:  3.8rem;     }
.font-rem-3-09     { font-size:  3.9rem;     }
.font-rem-4        { font-size:    4rem;     }
.font-rem-4-01     { font-size:  4.1rem;     }
.font-rem-4-02     { font-size:  4.2rem;     }
.font-rem-4-03     { font-size:  4.3rem;     }
.font-rem-4-04     { font-size:  4.4rem;     }
.font-rem-4-05     { font-size:  4.5rem;     }
.font-rem-4-06     { font-size:  4.6rem;     }
.font-rem-4-07     { font-size:  4.7rem;     }
.font-rem-4-08     { font-size:  4.8rem;     }
.font-rem-4-09     { font-size:  4.9rem;     }
.font-rem-5        { font-size:    5rem;     }
.font-rem-5-01     { font-size:  5.1rem;     }
.font-rem-5-02     { font-size:  5.2rem;     }
.font-rem-5-03     { font-size:  5.3rem;     }
.font-rem-5-04     { font-size:  5.4rem;     }
.font-rem-5-05     { font-size:  5.5rem;     }
.font-rem-5-06     { font-size:  5.6rem;     }
.font-rem-5-07     { font-size:  5.7rem;     }
.font-rem-5-08     { font-size:  5.8rem;     }
.font-rem-5-09     { font-size:  5.9rem;     }
.font-rem-6        { font-size:    6rem;     }
.font-rem-6-01     { font-size:  6.1rem;     }
.font-rem-6-02     { font-size:  6.2rem;     }
.font-rem-6-03     { font-size:  6.3rem;     }
.font-rem-6-04     { font-size:  6.4rem;     }
.font-rem-6-05     { font-size:  6.5rem;     }
.font-rem-6-06     { font-size:  6.6rem;     }
.font-rem-6-07     { font-size:  6.7rem;     }
.font-rem-6-08     { font-size:  6.8rem;     }
.font-rem-6-09     { font-size:  6.9rem;     }
.font-rem-7        { font-size:    7rem;     }
.font-rem-7-01     { font-size:  7.1rem;     }
.font-rem-7-02     { font-size:  7.2rem;     }
.font-rem-7-03     { font-size:  7.3rem;     }
.font-rem-7-04     { font-size:  7.4rem;     }
.font-rem-7-05     { font-size:  7.5rem;     }
.font-rem-7-06     { font-size:  7.6rem;     }
.font-rem-7-07     { font-size:  7.7rem;     }
.font-rem-7-08     { font-size:  7.8rem;     }
.font-rem-7-09     { font-size:  7.9rem;     }
.font-rem-8        { font-size:    8rem;     }
.font-rem-8-01     { font-size:  8.1rem;     }
.font-rem-8-02     { font-size:  8.2rem;     }
.font-rem-8-03     { font-size:  8.3rem;     }
.font-rem-8-04     { font-size:  8.4rem;     }
.font-rem-8-05     { font-size:  8.5rem;     }
.font-rem-8-06     { font-size:  8.6rem;     }
.font-rem-8-07     { font-size:  8.7rem;     }
.font-rem-8-08     { font-size:  8.8rem;     }
.font-rem-8-09     { font-size:  8.9rem;     }
.font-rem-9        { font-size:    9rem;     }
.font-rem-9-01     { font-size:  9.1rem;     }
.font-rem-9-02     { font-size:  9.2rem;     }
.font-rem-9-03     { font-size:  9.3rem;     }
.font-rem-9-04     { font-size:  9.4rem;     }
.font-rem-9-05     { font-size:  9.5rem;     }
.font-rem-9-06     { font-size:  9.6rem;     }
.font-rem-9-07     { font-size:  9.7rem;     }
.font-rem-9-08     { font-size:  9.8rem;     }
.font-rem-9-09     { font-size:  9.9rem;     }
.font-rem-10       { font-size:   10rem;     }
.font-rem-10-01    { font-size: 10.1rem;     }
.font-rem-10-02    { font-size: 10.2rem;     }
.font-rem-10-03    { font-size: 10.3rem;     }
.font-rem-10-04    { font-size: 10.4rem;     }
.font-rem-10-05    { font-size: 10.5rem;     }
.font-rem-10-06    { font-size: 10.6rem;     }
.font-rem-10-07    { font-size: 10.7rem;     }
.font-rem-10-08    { font-size: 10.8rem;     }
.font-rem-10-09    { font-size: 10.9rem;     }
.font-rem-11       { font-size:   11rem;     }
.font-rem-11-01    { font-size: 11.1rem;     }
.font-rem-11-02    { font-size: 11.2rem;     }
.font-rem-11-03    { font-size: 11.3rem;     }
.font-rem-11-04    { font-size: 11.4rem;     }
.font-rem-11-05    { font-size: 11.5rem;     }
.font-rem-11-06    { font-size: 11.6rem;     }
.font-rem-11-07    { font-size: 11.7rem;     }
.font-rem-11-08    { font-size: 11.8rem;     }
.font-rem-11-09    { font-size: 11.9rem;     }
.font-rem-12       { font-size:   12rem;     }
.font-rem-12-01    { font-size: 12.1rem;     }
.font-rem-12-02    { font-size: 12.2rem;     }
.font-rem-12-03    { font-size: 12.3rem;     }
.font-rem-12-04    { font-size: 12.4rem;     }
.font-rem-12-05    { font-size: 12.5rem;     }
.font-rem-12-06    { font-size: 12.6rem;     }
.font-rem-12-07    { font-size: 12.7rem;     }
.font-rem-12-08    { font-size: 12.8rem;     }
.font-rem-12-09    { font-size: 12.9rem;     }
.font-rem-13       { font-size:   13rem;     }
.font-rem-13-01    { font-size: 13.1rem;     }
.font-rem-13-02    { font-size: 13.2rem;     }
.font-rem-13-03    { font-size: 13.3rem;     }
.font-rem-13-04    { font-size: 13.4rem;     }
.font-rem-13-05    { font-size: 13.5rem;     }
.font-rem-13-06    { font-size: 13.6rem;     }
.font-rem-13-07    { font-size: 13.7rem;     }
.font-rem-13-08    { font-size: 13.8rem;     }
.font-rem-13-09    { font-size: 13.9rem;     }
.font-rem-14       { font-size:   14rem;     }
.font-rem-14-01    { font-size: 14.1rem;     }
.font-rem-14-02    { font-size: 14.2rem;     }
.font-rem-14-03    { font-size: 14.3rem;     }
.font-rem-14-04    { font-size: 14.4rem;     }
.font-rem-14-05    { font-size: 14.5rem;     }
.font-rem-14-06    { font-size: 14.6rem;     }
.font-rem-14-07    { font-size: 14.7rem;     }
.font-rem-14-08    { font-size: 14.8rem;     }
.font-rem-14-09    { font-size: 14.9rem;     }
.font-rem-15       { font-size:   15rem;     }
.font-rem-15-01    { font-size: 15.1rem;     }
.font-rem-15-02    { font-size: 15.2rem;     }
.font-rem-15-03    { font-size: 15.3rem;     }
.font-rem-15-04    { font-size: 15.4rem;     }
.font-rem-15-05    { font-size: 15.5rem;     }
.font-rem-15-06    { font-size: 15.6rem;     }
.font-rem-15-07    { font-size: 15.7rem;     }
.font-rem-15-08    { font-size: 15.8rem;     }
.font-rem-15-09    { font-size: 15.9rem;     }
.font-rem-16       { font-size:   16rem;     }
.font-rem-16-01    { font-size: 16.1rem;     }
.font-rem-16-02    { font-size: 16.2rem;     }
.font-rem-16-03    { font-size: 16.3rem;     }
.font-rem-16-04    { font-size: 16.4rem;     }
.font-rem-16-05    { font-size: 16.5rem;     }
.font-rem-16-06    { font-size: 16.6rem;     }
.font-rem-16-07    { font-size: 16.7rem;     }
.font-rem-16-08    { font-size: 16.8rem;     }
.font-rem-16-09    { font-size: 16.9rem;     }
.font-rem-17       { font-size:   17rem;     }
.font-rem-17-01    { font-size: 17.1rem;     }
.font-rem-17-02    { font-size: 17.2rem;     }
.font-rem-17-03    { font-size: 17.3rem;     }
.font-rem-17-04    { font-size: 17.4rem;     }
.font-rem-17-05    { font-size: 17.5rem;     }
.font-rem-17-06    { font-size: 17.6rem;     }
.font-rem-17-07    { font-size: 17.7rem;     }
.font-rem-17-08    { font-size: 17.8rem;     }
.font-rem-17-09    { font-size: 17.9rem;     }
.font-rem-18       { font-size:   18rem;     }
.font-rem-18-01    { font-size: 18.1rem;     }
.font-rem-18-02    { font-size: 18.2rem;     }
.font-rem-18-03    { font-size: 18.3rem;     }
.font-rem-18-04    { font-size: 18.4rem;     }
.font-rem-18-05    { font-size: 18.5rem;     }
.font-rem-18-06    { font-size: 18.6rem;     }
.font-rem-18-07    { font-size: 18.7rem;     }
.font-rem-18-08    { font-size: 18.8rem;     }
.font-rem-18-09    { font-size: 18.9rem;     }
.font-rem-19       { font-size:   19rem;     }
.font-rem-19-01    { font-size: 19.1rem;     }
.font-rem-19-02    { font-size: 19.2rem;     }
.font-rem-19-03    { font-size: 19.3rem;     }
.font-rem-19-04    { font-size: 19.4rem;     }
.font-rem-19-05    { font-size: 19.5rem;     }
.font-rem-19-06    { font-size: 19.6rem;     }
.font-rem-19-07    { font-size: 19.7rem;     }
.font-rem-19-08    { font-size: 19.8rem;     }
.font-rem-19-09    { font-size: 19.9rem;     }
.font-rem-20       { font-size:   20rem;     }
.font-vw-0       { font-size:  0vw;     }
.font-vw-01       { font-size:  0.1vw;     }
.font-vw-02       { font-size:  0.2vw;     }
.font-vw-03       { font-size:  0.3vw;     }
.font-vw-04       { font-size:  0.4vw;     }
.font-vw-05       { font-size:  0.5vw;     }
.font-vw-06       { font-size:  0.6vw;     }
.font-vw-07       { font-size:  0.7vw;     }
.font-vw-08       { font-size:  0.8vw;     }
.font-vw-09       { font-size:  0.9vw;     }
.font-vw-1        { font-size:    1vw;     }
.font-vw-1-01     { font-size:  1.1vw;     }
.font-vw-1-02     { font-size:  1.2vw;     }
.font-vw-1-03     { font-size:  1.3vw;     }
.font-vw-1-04     { font-size:  1.4vw;     }
.font-vw-1-05     { font-size:  1.5vw;     }
.font-vw-1-06     { font-size:  1.6vw;     }
.font-vw-1-07     { font-size:  1.7vw;     }
.font-vw-1-08     { font-size:  1.8vw;     }
.font-vw-1-09     { font-size:  1.9vw;     }
.font-vw-2        { font-size:    2vw;     }
.font-vw-2-01     { font-size:  2.1vw;     }
.font-vw-2-02     { font-size:  2.2vw;     }
.font-vw-2-03     { font-size:  2.3vw;     }
.font-vw-2-04     { font-size:  2.4vw;     }
.font-vw-2-05     { font-size:  2.5vw;     }
.font-vw-2-06     { font-size:  2.6vw;     }
.font-vw-2-07     { font-size:  2.7vw;     }
.font-vw-2-08     { font-size:  2.8vw;     }
.font-vw-2-09     { font-size:  2.9vw;     }
.font-vw-3        { font-size:    3vw;     }
.font-vw-3-01     { font-size:  3.1vw;     }
.font-vw-3-02     { font-size:  3.2vw;     }
.font-vw-3-03     { font-size:  3.3vw;     }
.font-vw-3-04     { font-size:  3.4vw;     }
.font-vw-3-05     { font-size:  3.5vw;     }
.font-vw-3-06     { font-size:  3.6vw;     }
.font-vw-3-07     { font-size:  3.7vw;     }
.font-vw-3-08     { font-size:  3.8vw;     }
.font-vw-3-09     { font-size:  3.9vw;     }
.font-vw-4        { font-size:    4vw;     }
.font-vw-4-01     { font-size:  4.1vw;     }
.font-vw-4-02     { font-size:  4.2vw;     }
.font-vw-4-03     { font-size:  4.3vw;     }
.font-vw-4-04     { font-size:  4.4vw;     }
.font-vw-4-05     { font-size:  4.5vw;     }
.font-vw-4-06     { font-size:  4.6vw;     }
.font-vw-4-07     { font-size:  4.7vw;     }
.font-vw-4-08     { font-size:  4.8vw;     }
.font-vw-4-09     { font-size:  4.9vw;     }
.font-vw-5        { font-size:    5vw;     }
.font-vw-5-01     { font-size:  5.1vw;     }
.font-vw-5-02     { font-size:  5.2vw;     }
.font-vw-5-03     { font-size:  5.3vw;     }
.font-vw-5-04     { font-size:  5.4vw;     }
.font-vw-5-05     { font-size:  5.5vw;     }
.font-vw-5-06     { font-size:  5.6vw;     }
.font-vw-5-07     { font-size:  5.7vw;     }
.font-vw-5-08     { font-size:  5.8vw;     }
.font-vw-5-09     { font-size:  5.9vw;     }
.font-vw-6        { font-size:    6vw;     }
.font-vw-6-01     { font-size:  6.1vw;     }
.font-vw-6-02     { font-size:  6.2vw;     }
.font-vw-6-03     { font-size:  6.3vw;     }
.font-vw-6-04     { font-size:  6.4vw;     }
.font-vw-6-05     { font-size:  6.5vw;     }
.font-vw-6-06     { font-size:  6.6vw;     }
.font-vw-6-07     { font-size:  6.7vw;     }
.font-vw-6-08     { font-size:  6.8vw;     }
.font-vw-6-09     { font-size:  6.9vw;     }
.font-vw-7        { font-size:    7vw;     }
.font-vw-7-01     { font-size:  7.1vw;     }
.font-vw-7-02     { font-size:  7.2vw;     }
.font-vw-7-03     { font-size:  7.3vw;     }
.font-vw-7-04     { font-size:  7.4vw;     }
.font-vw-7-05     { font-size:  7.5vw;     }
.font-vw-7-06     { font-size:  7.6vw;     }
.font-vw-7-07     { font-size:  7.7vw;     }
.font-vw-7-08     { font-size:  7.8vw;     }
.font-vw-7-09     { font-size:  7.9vw;     }
.font-vw-8        { font-size:    8vw;     }
.font-vw-8-01     { font-size:  8.1vw;     }
.font-vw-8-02     { font-size:  8.2vw;     }
.font-vw-8-03     { font-size:  8.3vw;     }
.font-vw-8-04     { font-size:  8.4vw;     }
.font-vw-8-05     { font-size:  8.5vw;     }
.font-vw-8-06     { font-size:  8.6vw;     }
.font-vw-8-07     { font-size:  8.7vw;     }
.font-vw-8-08     { font-size:  8.8vw;     }
.font-vw-8-09     { font-size:  8.9vw;     }
.font-vw-9        { font-size:    9vw;     }
.font-vw-9-01     { font-size:  9.1vw;     }
.font-vw-9-02     { font-size:  9.2vw;     }
.font-vw-9-03     { font-size:  9.3vw;     }
.font-vw-9-04     { font-size:  9.4vw;     }
.font-vw-9-05     { font-size:  9.5vw;     }
.font-vw-9-06     { font-size:  9.6vw;     }
.font-vw-9-07     { font-size:  9.7vw;     }
.font-vw-9-08     { font-size:  9.8vw;     }
.font-vw-9-09     { font-size:  9.9vw;     }
.font-vw-10       { font-size:   10vw;     }
.font-vw-10-01    { font-size: 10.1vw;     }
.font-vw-10-02    { font-size: 10.2vw;     }
.font-vw-10-03    { font-size: 10.3vw;     }
.font-vw-10-04    { font-size: 10.4vw;     }
.font-vw-10-05    { font-size: 10.5vw;     }
.font-vw-10-06    { font-size: 10.6vw;     }
.font-vw-10-07    { font-size: 10.7vw;     }
.font-vw-10-08    { font-size: 10.8vw;     }
.font-vw-10-09    { font-size: 10.9vw;     }
.font-vw-11       { font-size:   11vw;     }
.font-vw-11-01    { font-size: 11.1vw;     }
.font-vw-11-02    { font-size: 11.2vw;     }
.font-vw-11-03    { font-size: 11.3vw;     }
.font-vw-11-04    { font-size: 11.4vw;     }
.font-vw-11-05    { font-size: 11.5vw;     }
.font-vw-11-06    { font-size: 11.6vw;     }
.font-vw-11-07    { font-size: 11.7vw;     }
.font-vw-11-08    { font-size: 11.8vw;     }
.font-vw-11-09    { font-size: 11.9vw;     }
.font-vw-12       { font-size:   12vw;     }
.font-vw-12-01    { font-size: 12.1vw;     }
.font-vw-12-02    { font-size: 12.2vw;     }
.font-vw-12-03    { font-size: 12.3vw;     }
.font-vw-12-04    { font-size: 12.4vw;     }
.font-vw-12-05    { font-size: 12.5vw;     }
.font-vw-12-06    { font-size: 12.6vw;     }
.font-vw-12-07    { font-size: 12.7vw;     }
.font-vw-12-08    { font-size: 12.8vw;     }
.font-vw-12-09    { font-size: 12.9vw;     }
.font-vw-13       { font-size:   13vw;     }
.font-vw-13-01    { font-size: 13.1vw;     }
.font-vw-13-02    { font-size: 13.2vw;     }
.font-vw-13-03    { font-size: 13.3vw;     }
.font-vw-13-04    { font-size: 13.4vw;     }
.font-vw-13-05    { font-size: 13.5vw;     }
.font-vw-13-06    { font-size: 13.6vw;     }
.font-vw-13-07    { font-size: 13.7vw;     }
.font-vw-13-08    { font-size: 13.8vw;     }
.font-vw-13-09    { font-size: 13.9vw;     }
.font-vw-14       { font-size:   14vw;     }
.font-vw-14-01    { font-size: 14.1vw;     }
.font-vw-14-02    { font-size: 14.2vw;     }
.font-vw-14-03    { font-size: 14.3vw;     }
.font-vw-14-04    { font-size: 14.4vw;     }
.font-vw-14-05    { font-size: 14.5vw;     }
.font-vw-14-06    { font-size: 14.6vw;     }
.font-vw-14-07    { font-size: 14.7vw;     }
.font-vw-14-08    { font-size: 14.8vw;     }
.font-vw-14-09    { font-size: 14.9vw;     }
.font-vw-15       { font-size:   15vw;     }
.font-vw-15-01    { font-size: 15.1vw;     }
.font-vw-15-02    { font-size: 15.2vw;     }
.font-vw-15-03    { font-size: 15.3vw;     }
.font-vw-15-04    { font-size: 15.4vw;     }
.font-vw-15-05    { font-size: 15.5vw;     }
.font-vw-15-06    { font-size: 15.6vw;     }
.font-vw-15-07    { font-size: 15.7vw;     }
.font-vw-15-08    { font-size: 15.8vw;     }
.font-vw-15-09    { font-size: 15.9vw;     }
.font-vw-16       { font-size:   16vw;     }
.font-vw-16-01    { font-size: 16.1vw;     }
.font-vw-16-02    { font-size: 16.2vw;     }
.font-vw-16-03    { font-size: 16.3vw;     }
.font-vw-16-04    { font-size: 16.4vw;     }
.font-vw-16-05    { font-size: 16.5vw;     }
.font-vw-16-06    { font-size: 16.6vw;     }
.font-vw-16-07    { font-size: 16.7vw;     }
.font-vw-16-08    { font-size: 16.8vw;     }
.font-vw-16-09    { font-size: 16.9vw;     }
.font-vw-17       { font-size:   17vw;     }
.font-vw-17-01    { font-size: 17.1vw;     }
.font-vw-17-02    { font-size: 17.2vw;     }
.font-vw-17-03    { font-size: 17.3vw;     }
.font-vw-17-04    { font-size: 17.4vw;     }
.font-vw-17-05    { font-size: 17.5vw;     }
.font-vw-17-06    { font-size: 17.6vw;     }
.font-vw-17-07    { font-size: 17.7vw;     }
.font-vw-17-08    { font-size: 17.8vw;     }
.font-vw-17-09    { font-size: 17.9vw;     }
.font-vw-18       { font-size:   18vw;     }
.font-vw-18-01    { font-size: 18.1vw;     }
.font-vw-18-02    { font-size: 18.2vw;     }
.font-vw-18-03    { font-size: 18.3vw;     }
.font-vw-18-04    { font-size: 18.4vw;     }
.font-vw-18-05    { font-size: 18.5vw;     }
.font-vw-18-06    { font-size: 18.6vw;     }
.font-vw-18-07    { font-size: 18.7vw;     }
.font-vw-18-08    { font-size: 18.8vw;     }
.font-vw-18-09    { font-size: 18.9vw;     }
.font-vw-19       { font-size:   19vw;     }
.font-vw-19-01    { font-size: 19.1vw;     }
.font-vw-19-02    { font-size: 19.2vw;     }
.font-vw-19-03    { font-size: 19.3vw;     }
.font-vw-19-04    { font-size: 19.4vw;     }
.font-vw-19-05    { font-size: 19.5vw;     }
.font-vw-19-06    { font-size: 19.6vw;     }
.font-vw-19-07    { font-size: 19.7vw;     }
.font-vw-19-08    { font-size: 19.8vw;     }
.font-vw-19-09    { font-size: 19.9vw;     }
.font-vw-20       { font-size:   20vw;     }
.font-px-0       { font-size:  0px;     }
.font-px-01       { font-size:  0.1px;     }
.font-px-02       { font-size:  0.2px;     }
.font-px-03       { font-size:  0.3px;     }
.font-px-04       { font-size:  0.4px;     }
.font-px-05       { font-size:  0.5px;     }
.font-px-06       { font-size:  0.6px;     }
.font-px-07       { font-size:  0.7px;     }
.font-px-08       { font-size:  0.8px;     }
.font-px-09       { font-size:  0.9px;     }
.font-px-1        { font-size:    1px;     }
.font-px-1-01     { font-size:  1.1px;     }
.font-px-1-02     { font-size:  1.2px;     }
.font-px-1-03     { font-size:  1.3px;     }
.font-px-1-04     { font-size:  1.4px;     }
.font-px-1-05     { font-size:  1.5px;     }
.font-px-1-06     { font-size:  1.6px;     }
.font-px-1-07     { font-size:  1.7px;     }
.font-px-1-08     { font-size:  1.8px;     }
.font-px-1-09     { font-size:  1.9px;     }
.font-px-2        { font-size:    2px;     }
.font-px-2-01     { font-size:  2.1px;     }
.font-px-2-02     { font-size:  2.2px;     }
.font-px-2-03     { font-size:  2.3px;     }
.font-px-2-04     { font-size:  2.4px;     }
.font-px-2-05     { font-size:  2.5px;     }
.font-px-2-06     { font-size:  2.6px;     }
.font-px-2-07     { font-size:  2.7px;     }
.font-px-2-08     { font-size:  2.8px;     }
.font-px-2-09     { font-size:  2.9px;     }
.font-px-3        { font-size:    3px;     }
.font-px-3-01     { font-size:  3.1px;     }
.font-px-3-02     { font-size:  3.2px;     }
.font-px-3-03     { font-size:  3.3px;     }
.font-px-3-04     { font-size:  3.4px;     }
.font-px-3-05     { font-size:  3.5px;     }
.font-px-3-06     { font-size:  3.6px;     }
.font-px-3-07     { font-size:  3.7px;     }
.font-px-3-08     { font-size:  3.8px;     }
.font-px-3-09     { font-size:  3.9px;     }
.font-px-4        { font-size:    4px;     }
.font-px-4-01     { font-size:  4.1px;     }
.font-px-4-02     { font-size:  4.2px;     }
.font-px-4-03     { font-size:  4.3px;     }
.font-px-4-04     { font-size:  4.4px;     }
.font-px-4-05     { font-size:  4.5px;     }
.font-px-4-06     { font-size:  4.6px;     }
.font-px-4-07     { font-size:  4.7px;     }
.font-px-4-08     { font-size:  4.8px;     }
.font-px-4-09     { font-size:  4.9px;     }
.font-px-5        { font-size:    5px;     }
.font-px-5-01     { font-size:  5.1px;     }
.font-px-5-02     { font-size:  5.2px;     }
.font-px-5-03     { font-size:  5.3px;     }
.font-px-5-04     { font-size:  5.4px;     }
.font-px-5-05     { font-size:  5.5px;     }
.font-px-5-06     { font-size:  5.6px;     }
.font-px-5-07     { font-size:  5.7px;     }
.font-px-5-08     { font-size:  5.8px;     }
.font-px-5-09     { font-size:  5.9px;     }
.font-px-6        { font-size:    6px;     }
.font-px-6-01     { font-size:  6.1px;     }
.font-px-6-02     { font-size:  6.2px;     }
.font-px-6-03     { font-size:  6.3px;     }
.font-px-6-04     { font-size:  6.4px;     }
.font-px-6-05     { font-size:  6.5px;     }
.font-px-6-06     { font-size:  6.6px;     }
.font-px-6-07     { font-size:  6.7px;     }
.font-px-6-08     { font-size:  6.8px;     }
.font-px-6-09     { font-size:  6.9px;     }
.font-px-7        { font-size:    7px;     }
.font-px-7-01     { font-size:  7.1px;     }
.font-px-7-02     { font-size:  7.2px;     }
.font-px-7-03     { font-size:  7.3px;     }
.font-px-7-04     { font-size:  7.4px;     }
.font-px-7-05     { font-size:  7.5px;     }
.font-px-7-06     { font-size:  7.6px;     }
.font-px-7-07     { font-size:  7.7px;     }
.font-px-7-08     { font-size:  7.8px;     }
.font-px-7-09     { font-size:  7.9px;     }
.font-px-8        { font-size:    8px;     }
.font-px-8-01     { font-size:  8.1px;     }
.font-px-8-02     { font-size:  8.2px;     }
.font-px-8-03     { font-size:  8.3px;     }
.font-px-8-04     { font-size:  8.4px;     }
.font-px-8-05     { font-size:  8.5px;     }
.font-px-8-06     { font-size:  8.6px;     }
.font-px-8-07     { font-size:  8.7px;     }
.font-px-8-08     { font-size:  8.8px;     }
.font-px-8-09     { font-size:  8.9px;     }
.font-px-9        { font-size:    9px;     }
.font-px-9-01     { font-size:  9.1px;     }
.font-px-9-02     { font-size:  9.2px;     }
.font-px-9-03     { font-size:  9.3px;     }
.font-px-9-04     { font-size:  9.4px;     }
.font-px-9-05     { font-size:  9.5px;     }
.font-px-9-06     { font-size:  9.6px;     }
.font-px-9-07     { font-size:  9.7px;     }
.font-px-9-08     { font-size:  9.8px;     }
.font-px-9-09     { font-size:  9.9px;     }
.font-px-10       { font-size:   10px;     }
.font-px-10-01    { font-size: 10.1px;     }
.font-px-10-02    { font-size: 10.2px;     }
.font-px-10-03    { font-size: 10.3px;     }
.font-px-10-04    { font-size: 10.4px;     }
.font-px-10-05    { font-size: 10.5px;     }
.font-px-10-06    { font-size: 10.6px;     }
.font-px-10-07    { font-size: 10.7px;     }
.font-px-10-08    { font-size: 10.8px;     }
.font-px-10-09    { font-size: 10.9px;     }
.font-px-11       { font-size:   11px;     }
.font-px-11-01    { font-size: 11.1px;     }
.font-px-11-02    { font-size: 11.2px;     }
.font-px-11-03    { font-size: 11.3px;     }
.font-px-11-04    { font-size: 11.4px;     }
.font-px-11-05    { font-size: 11.5px;     }
.font-px-11-06    { font-size: 11.6px;     }
.font-px-11-07    { font-size: 11.7px;     }
.font-px-11-08    { font-size: 11.8px;     }
.font-px-11-09    { font-size: 11.9px;     }
.font-px-12       { font-size:   12px;     }
.font-px-12-01    { font-size: 12.1px;     }
.font-px-12-02    { font-size: 12.2px;     }
.font-px-12-03    { font-size: 12.3px;     }
.font-px-12-04    { font-size: 12.4px;     }
.font-px-12-05    { font-size: 12.5px;     }
.font-px-12-06    { font-size: 12.6px;     }
.font-px-12-07    { font-size: 12.7px;     }
.font-px-12-08    { font-size: 12.8px;     }
.font-px-12-09    { font-size: 12.9px;     }
.font-px-13       { font-size:   13px;     }
.font-px-13-01    { font-size: 13.1px;     }
.font-px-13-02    { font-size: 13.2px;     }
.font-px-13-03    { font-size: 13.3px;     }
.font-px-13-04    { font-size: 13.4px;     }
.font-px-13-05    { font-size: 13.5px;     }
.font-px-13-06    { font-size: 13.6px;     }
.font-px-13-07    { font-size: 13.7px;     }
.font-px-13-08    { font-size: 13.8px;     }
.font-px-13-09    { font-size: 13.9px;     }
.font-px-14       { font-size:   14px;     }
.font-px-14-01    { font-size: 14.1px;     }
.font-px-14-02    { font-size: 14.2px;     }
.font-px-14-03    { font-size: 14.3px;     }
.font-px-14-04    { font-size: 14.4px;     }
.font-px-14-05    { font-size: 14.5px;     }
.font-px-14-06    { font-size: 14.6px;     }
.font-px-14-07    { font-size: 14.7px;     }
.font-px-14-08    { font-size: 14.8px;     }
.font-px-14-09    { font-size: 14.9px;     }
.font-px-15       { font-size:   15px;     }
.font-px-15-01    { font-size: 15.1px;     }
.font-px-15-02    { font-size: 15.2px;     }
.font-px-15-03    { font-size: 15.3px;     }
.font-px-15-04    { font-size: 15.4px;     }
.font-px-15-05    { font-size: 15.5px;     }
.font-px-15-06    { font-size: 15.6px;     }
.font-px-15-07    { font-size: 15.7px;     }
.font-px-15-08    { font-size: 15.8px;     }
.font-px-15-09    { font-size: 15.9px;     }
.font-px-16       { font-size:   16px;     }
.font-px-16-01    { font-size: 16.1px;     }
.font-px-16-02    { font-size: 16.2px;     }
.font-px-16-03    { font-size: 16.3px;     }
.font-px-16-04    { font-size: 16.4px;     }
.font-px-16-05    { font-size: 16.5px;     }
.font-px-16-06    { font-size: 16.6px;     }
.font-px-16-07    { font-size: 16.7px;     }
.font-px-16-08    { font-size: 16.8px;     }
.font-px-16-09    { font-size: 16.9px;     }
.font-px-17       { font-size:   17px;     }
.font-px-17-01    { font-size: 17.1px;     }
.font-px-17-02    { font-size: 17.2px;     }
.font-px-17-03    { font-size: 17.3px;     }
.font-px-17-04    { font-size: 17.4px;     }
.font-px-17-05    { font-size: 17.5px;     }
.font-px-17-06    { font-size: 17.6px;     }
.font-px-17-07    { font-size: 17.7px;     }
.font-px-17-08    { font-size: 17.8px;     }
.font-px-17-09    { font-size: 17.9px;     }
.font-px-18       { font-size:   18px;     }
.font-px-18-01    { font-size: 18.1px;     }
.font-px-18-02    { font-size: 18.2px;     }
.font-px-18-03    { font-size: 18.3px;     }
.font-px-18-04    { font-size: 18.4px;     }
.font-px-18-05    { font-size: 18.5px;     }
.font-px-18-06    { font-size: 18.6px;     }
.font-px-18-07    { font-size: 18.7px;     }
.font-px-18-08    { font-size: 18.8px;     }
.font-px-18-09    { font-size: 18.9px;     }
.font-px-19       { font-size:   19px;     }
.font-px-19-01    { font-size: 19.1px;     }
.font-px-19-02    { font-size: 19.2px;     }
.font-px-19-03    { font-size: 19.3px;     }
.font-px-19-04    { font-size: 19.4px;     }
.font-px-19-05    { font-size: 19.5px;     }
.font-px-19-06    { font-size: 19.6px;     }
.font-px-19-07    { font-size: 19.7px;     }
.font-px-19-08    { font-size: 19.8px;     }
.font-px-19-09    { font-size: 19.9px;     }
.font-px-20       { font-size:   20px;     }
.font-full-0       { font-size:  0%;     }
.font-full-01       { font-size:  0.1%;     }
.font-full-02       { font-size:  0.2%;     }
.font-full-03       { font-size:  0.3%;     }
.font-full-04       { font-size:  0.4%;     }
.font-full-05       { font-size:  0.5%;     }
.font-full-06       { font-size:  0.6%;     }
.font-full-07       { font-size:  0.7%;     }
.font-full-08       { font-size:  0.8%;     }
.font-full-09       { font-size:  0.9%;     }
.font-full-1        { font-size:    1%;     }
.font-full-1-01     { font-size:  1.1%;     }
.font-full-1-02     { font-size:  1.2%;     }
.font-full-1-03     { font-size:  1.3%;     }
.font-full-1-04     { font-size:  1.4%;     }
.font-full-1-05     { font-size:  1.5%;     }
.font-full-1-06     { font-size:  1.6%;     }
.font-full-1-07     { font-size:  1.7%;     }
.font-full-1-08     { font-size:  1.8%;     }
.font-full-1-09     { font-size:  1.9%;     }
.font-full-2        { font-size:    2%;     }
.font-full-2-01     { font-size:  2.1%;     }
.font-full-2-02     { font-size:  2.2%;     }
.font-full-2-03     { font-size:  2.3%;     }
.font-full-2-04     { font-size:  2.4%;     }
.font-full-2-05     { font-size:  2.5%;     }
.font-full-2-06     { font-size:  2.6%;     }
.font-full-2-07     { font-size:  2.7%;     }
.font-full-2-08     { font-size:  2.8%;     }
.font-full-2-09     { font-size:  2.9%;     }
.font-full-3        { font-size:    3%;     }
.font-full-3-01     { font-size:  3.1%;     }
.font-full-3-02     { font-size:  3.2%;     }
.font-full-3-03     { font-size:  3.3%;     }
.font-full-3-04     { font-size:  3.4%;     }
.font-full-3-05     { font-size:  3.5%;     }
.font-full-3-06     { font-size:  3.6%;     }
.font-full-3-07     { font-size:  3.7%;     }
.font-full-3-08     { font-size:  3.8%;     }
.font-full-3-09     { font-size:  3.9%;     }
.font-full-4        { font-size:    4%;     }
.font-full-4-01     { font-size:  4.1%;     }
.font-full-4-02     { font-size:  4.2%;     }
.font-full-4-03     { font-size:  4.3%;     }
.font-full-4-04     { font-size:  4.4%;     }
.font-full-4-05     { font-size:  4.5%;     }
.font-full-4-06     { font-size:  4.6%;     }
.font-full-4-07     { font-size:  4.7%;     }
.font-full-4-08     { font-size:  4.8%;     }
.font-full-4-09     { font-size:  4.9%;     }
.font-full-5        { font-size:    5%;     }
.font-full-5-01     { font-size:  5.1%;     }
.font-full-5-02     { font-size:  5.2%;     }
.font-full-5-03     { font-size:  5.3%;     }
.font-full-5-04     { font-size:  5.4%;     }
.font-full-5-05     { font-size:  5.5%;     }
.font-full-5-06     { font-size:  5.6%;     }
.font-full-5-07     { font-size:  5.7%;     }
.font-full-5-08     { font-size:  5.8%;     }
.font-full-5-09     { font-size:  5.9%;     }
.font-full-6        { font-size:    6%;     }
.font-full-6-01     { font-size:  6.1%;     }
.font-full-6-02     { font-size:  6.2%;     }
.font-full-6-03     { font-size:  6.3%;     }
.font-full-6-04     { font-size:  6.4%;     }
.font-full-6-05     { font-size:  6.5%;     }
.font-full-6-06     { font-size:  6.6%;     }
.font-full-6-07     { font-size:  6.7%;     }
.font-full-6-08     { font-size:  6.8%;     }
.font-full-6-09     { font-size:  6.9%;     }
.font-full-7        { font-size:    7%;     }
.font-full-7-01     { font-size:  7.1%;     }
.font-full-7-02     { font-size:  7.2%;     }
.font-full-7-03     { font-size:  7.3%;     }
.font-full-7-04     { font-size:  7.4%;     }
.font-full-7-05     { font-size:  7.5%;     }
.font-full-7-06     { font-size:  7.6%;     }
.font-full-7-07     { font-size:  7.7%;     }
.font-full-7-08     { font-size:  7.8%;     }
.font-full-7-09     { font-size:  7.9%;     }
.font-full-8        { font-size:    8%;     }
.font-full-8-01     { font-size:  8.1%;     }
.font-full-8-02     { font-size:  8.2%;     }
.font-full-8-03     { font-size:  8.3%;     }
.font-full-8-04     { font-size:  8.4%;     }
.font-full-8-05     { font-size:  8.5%;     }
.font-full-8-06     { font-size:  8.6%;     }
.font-full-8-07     { font-size:  8.7%;     }
.font-full-8-08     { font-size:  8.8%;     }
.font-full-8-09     { font-size:  8.9%;     }
.font-full-9        { font-size:    9%;     }
.font-full-9-01     { font-size:  9.1%;     }
.font-full-9-02     { font-size:  9.2%;     }
.font-full-9-03     { font-size:  9.3%;     }
.font-full-9-04     { font-size:  9.4%;     }
.font-full-9-05     { font-size:  9.5%;     }
.font-full-9-06     { font-size:  9.6%;     }
.font-full-9-07     { font-size:  9.7%;     }
.font-full-9-08     { font-size:  9.8%;     }
.font-full-9-09     { font-size:  9.9%;     }
.font-full-10       { font-size:   10%;     }
.font-full-10-01    { font-size: 10.1%;     }
.font-full-10-02    { font-size: 10.2%;     }
.font-full-10-03    { font-size: 10.3%;     }
.font-full-10-04    { font-size: 10.4%;     }
.font-full-10-05    { font-size: 10.5%;     }
.font-full-10-06    { font-size: 10.6%;     }
.font-full-10-07    { font-size: 10.7%;     }
.font-full-10-08    { font-size: 10.8%;     }
.font-full-10-09    { font-size: 10.9%;     }
.font-full-11       { font-size:   11%;     }
.font-full-11-01    { font-size: 11.1%;     }
.font-full-11-02    { font-size: 11.2%;     }
.font-full-11-03    { font-size: 11.3%;     }
.font-full-11-04    { font-size: 11.4%;     }
.font-full-11-05    { font-size: 11.5%;     }
.font-full-11-06    { font-size: 11.6%;     }
.font-full-11-07    { font-size: 11.7%;     }
.font-full-11-08    { font-size: 11.8%;     }
.font-full-11-09    { font-size: 11.9%;     }
.font-full-12       { font-size:   12%;     }
.font-full-12-01    { font-size: 12.1%;     }
.font-full-12-02    { font-size: 12.2%;     }
.font-full-12-03    { font-size: 12.3%;     }
.font-full-12-04    { font-size: 12.4%;     }
.font-full-12-05    { font-size: 12.5%;     }
.font-full-12-06    { font-size: 12.6%;     }
.font-full-12-07    { font-size: 12.7%;     }
.font-full-12-08    { font-size: 12.8%;     }
.font-full-12-09    { font-size: 12.9%;     }
.font-full-13       { font-size:   13%;     }
.font-full-13-01    { font-size: 13.1%;     }
.font-full-13-02    { font-size: 13.2%;     }
.font-full-13-03    { font-size: 13.3%;     }
.font-full-13-04    { font-size: 13.4%;     }
.font-full-13-05    { font-size: 13.5%;     }
.font-full-13-06    { font-size: 13.6%;     }
.font-full-13-07    { font-size: 13.7%;     }
.font-full-13-08    { font-size: 13.8%;     }
.font-full-13-09    { font-size: 13.9%;     }
.font-full-14       { font-size:   14%;     }
.font-full-14-01    { font-size: 14.1%;     }
.font-full-14-02    { font-size: 14.2%;     }
.font-full-14-03    { font-size: 14.3%;     }
.font-full-14-04    { font-size: 14.4%;     }
.font-full-14-05    { font-size: 14.5%;     }
.font-full-14-06    { font-size: 14.6%;     }
.font-full-14-07    { font-size: 14.7%;     }
.font-full-14-08    { font-size: 14.8%;     }
.font-full-14-09    { font-size: 14.9%;     }
.font-full-15       { font-size:   15%;     }
.font-full-15-01    { font-size: 15.1%;     }
.font-full-15-02    { font-size: 15.2%;     }
.font-full-15-03    { font-size: 15.3%;     }
.font-full-15-04    { font-size: 15.4%;     }
.font-full-15-05    { font-size: 15.5%;     }
.font-full-15-06    { font-size: 15.6%;     }
.font-full-15-07    { font-size: 15.7%;     }
.font-full-15-08    { font-size: 15.8%;     }
.font-full-15-09    { font-size: 15.9%;     }
.font-full-16       { font-size:   16%;     }
.font-full-16-01    { font-size: 16.1%;     }
.font-full-16-02    { font-size: 16.2%;     }
.font-full-16-03    { font-size: 16.3%;     }
.font-full-16-04    { font-size: 16.4%;     }
.font-full-16-05    { font-size: 16.5%;     }
.font-full-16-06    { font-size: 16.6%;     }
.font-full-16-07    { font-size: 16.7%;     }
.font-full-16-08    { font-size: 16.8%;     }
.font-full-16-09    { font-size: 16.9%;     }
.font-full-17       { font-size:   17%;     }
.font-full-17-01    { font-size: 17.1%;     }
.font-full-17-02    { font-size: 17.2%;     }
.font-full-17-03    { font-size: 17.3%;     }
.font-full-17-04    { font-size: 17.4%;     }
.font-full-17-05    { font-size: 17.5%;     }
.font-full-17-06    { font-size: 17.6%;     }
.font-full-17-07    { font-size: 17.7%;     }
.font-full-17-08    { font-size: 17.8%;     }
.font-full-17-09    { font-size: 17.9%;     }
.font-full-18       { font-size:   18%;     }
.font-full-18-01    { font-size: 18.1%;     }
.font-full-18-02    { font-size: 18.2%;     }
.font-full-18-03    { font-size: 18.3%;     }
.font-full-18-04    { font-size: 18.4%;     }
.font-full-18-05    { font-size: 18.5%;     }
.font-full-18-06    { font-size: 18.6%;     }
.font-full-18-07    { font-size: 18.7%;     }
.font-full-18-08    { font-size: 18.8%;     }
.font-full-18-09    { font-size: 18.9%;     }
.font-full-19       { font-size:   19%;     }
.font-full-19-01    { font-size: 19.1%;     }
.font-full-19-02    { font-size: 19.2%;     }
.font-full-19-03    { font-size: 19.3%;     }
.font-full-19-04    { font-size: 19.4%;     }
.font-full-19-05    { font-size: 19.5%;     }
.font-full-19-06    { font-size: 19.6%;     }
.font-full-19-07    { font-size: 19.7%;     }
.font-full-19-08    { font-size: 19.8%;     }
.font-full-19-09    { font-size: 19.9%;     }
.font-full-20       { font-size:   20%;     }
