@import url('links.css');
.font1{font-family: 'Poppins', sans-serif;}
.font2{font-family: 'Noto Sans', sans-serif;}
.font3{font-family: 'Oxygen', sans-serif;}
.font4{font-family: 'Raleway', sans-serif;}
.font5{font-family: 'Rubik', sans-serif;}
.font6{font-family: 'Josefin Sans', sans-serif;}
.font7{font-family: Arial, Helvetica, sans-serif;}
.font8{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.txt-font-01       { font-size:  0.1vw;     }
.txt-font-02       { font-size:  0.2vw;     }
.txt-font-03       { font-size:  0.3vw;     }
.txt-font-04       { font-size:  0.4vw;     }
.txt-font-05       { font-size:  0.5vw;     }
.txt-font-06       { font-size:  0.6vw;     }
.txt-font-07       { font-size:  0.7vw;     }
.txt-font-08       { font-size:  0.8vw;     }
.txt-font-09       { font-size:  0.9vw;     }
.txt-font-1        { font-size:    1vw;     }
.txt-font-1-01     { font-size:  1.1vw;     }
.txt-font-1-02     { font-size:  1.2vw;     }
.txt-font-1-03     { font-size:  1.3vw;     }
.txt-font-1-04     { font-size:  1.4vw;     }
.txt-font-1-05     { font-size:  1.5vw;     }
.txt-font-1-06     { font-size:  1.6vw;     }
.txt-font-1-07     { font-size:  1.7vw;     }
.txt-font-1-08     { font-size:  1.8vw;     }
.txt-font-1-09     { font-size:  1.9vw;     }
.txt-font-2        { font-size:    2vw;     }
.txt-font-2-01     { font-size:  2.1vw;     }
.txt-font-2-02     { font-size:  2.2vw;     }
.txt-font-2-03     { font-size:  2.3vw;     }
.txt-font-2-04     { font-size:  2.4vw;     }
.txt-font-2-05     { font-size:  2.5vw;     }
.txt-font-2-06     { font-size:  2.6vw;     }
.txt-font-2-07     { font-size:  2.7vw;     }
.txt-font-2-08     { font-size:  2.8vw;     }
.txt-font-2-09     { font-size:  2.9vw;     }
.txt-font-3        { font-size:    3vw;     }
.txt-font-3-01     { font-size:  3.1vw;     }
.txt-font-3-02     { font-size:  3.2vw;     }
.txt-font-3-03     { font-size:  3.3vw;     }
.txt-font-3-04     { font-size:  3.4vw;     }
.txt-font-3-05     { font-size:  3.5vw;     }
.txt-font-3-06     { font-size:  3.6vw;     }
.txt-font-3-07     { font-size:  3.7vw;     }
.txt-font-3-08     { font-size:  3.8vw;     }
.txt-font-3-09     { font-size:  3.9vw;     }
.txt-font-4        { font-size:    4vw;     }
.txt-font-4-01     { font-size:  4.1vw;     }
.txt-font-4-02     { font-size:  4.2vw;     }
.txt-font-4-03     { font-size:  4.3vw;     }
.txt-font-4-04     { font-size:  4.4vw;     }
.txt-font-4-05     { font-size:  4.5vw;     }
.txt-font-4-06     { font-size:  4.6vw;     }
.txt-font-4-07     { font-size:  4.7vw;     }
.txt-font-4-08     { font-size:  4.8vw;     }
.txt-font-4-09     { font-size:  4.9vw;     }
.txt-font-5        { font-size:    5vw;     }
.txt-font-5-01     { font-size:  5.1vw;     }
.txt-font-5-02     { font-size:  5.2vw;     }
.txt-font-5-03     { font-size:  5.3vw;     }
.txt-font-5-04     { font-size:  5.4vw;     }
.txt-font-5-05     { font-size:  5.5vw;     }
.txt-font-5-06     { font-size:  5.6vw;     }
.txt-font-5-07     { font-size:  5.7vw;     }
.txt-font-5-08     { font-size:  5.8vw;     }
.txt-font-5-09     { font-size:  5.9vw;     }
.txt-font-6        { font-size:    6vw;     }
.txt-font-6-01     { font-size:  6.1vw;     }
.txt-font-6-02     { font-size:  6.2vw;     }
.txt-font-6-03     { font-size:  6.3vw;     }
.txt-font-6-04     { font-size:  6.4vw;     }
.txt-font-6-05     { font-size:  6.5vw;     }
.txt-font-6-06     { font-size:  6.6vw;     }
.txt-font-6-07     { font-size:  6.7vw;     }
.txt-font-6-08     { font-size:  6.8vw;     }
.txt-font-6-09     { font-size:  6.9vw;     }
.txt-font-7        { font-size:    7vw;     }
.txt-font-7-01     { font-size:  7.1vw;     }
.txt-font-7-02     { font-size:  7.2vw;     }
.txt-font-7-03     { font-size:  7.3vw;     }
.txt-font-7-04     { font-size:  7.4vw;     }
.txt-font-7-05     { font-size:  7.5vw;     }
.txt-font-7-06     { font-size:  7.6vw;     }
.txt-font-7-07     { font-size:  7.7vw;     }
.txt-font-7-08     { font-size:  7.8vw;     }
.txt-font-7-09     { font-size:  7.9vw;     }
.txt-font-8        { font-size:    8vw;     }
.txt-font-8-01     { font-size:  8.1vw;     }
.txt-font-8-02     { font-size:  8.2vw;     }
.txt-font-8-03     { font-size:  8.3vw;     }
.txt-font-8-04     { font-size:  8.4vw;     }
.txt-font-8-05     { font-size:  8.5vw;     }
.txt-font-8-06     { font-size:  8.6vw;     }
.txt-font-8-07     { font-size:  8.7vw;     }
.txt-font-8-08     { font-size:  8.8vw;     }
.txt-font-8-09     { font-size:  8.9vw;     }
.txt-font-9        { font-size:    9vw;     }
.txt-font-9-01     { font-size:  9.1vw;     }
.txt-font-9-02     { font-size:  9.2vw;     }
.txt-font-9-03     { font-size:  9.3vw;     }
.txt-font-9-04     { font-size:  9.4vw;     }
.txt-font-9-05     { font-size:  9.5vw;     }
.txt-font-9-06     { font-size:  9.6vw;     }
.txt-font-9-07     { font-size:  9.7vw;     }
.txt-font-9-08     { font-size:  9.8vw;     }
.txt-font-9-09     { font-size:  9.9vw;     }
.txt-font-10       { font-size:   10vw;     }
.txt-font-10-01    { font-size: 10.1vw;     }
.txt-font-10-02    { font-size: 10.2vw;     }
.txt-font-10-03    { font-size: 10.3vw;     }
.txt-font-10-04    { font-size: 10.4vw;     }
.txt-font-10-05    { font-size: 10.5vw;     }
.txt-font-10-06    { font-size: 10.6vw;     }
.txt-font-10-07    { font-size: 10.7vw;     }
.txt-font-10-08    { font-size: 10.8vw;     }
.txt-font-10-09    { font-size: 10.9vw;     }
.txt-font-11       { font-size:   11vw;     }
.txt-font-11-01    { font-size: 11.1vw;     }
.txt-font-11-02    { font-size: 11.2vw;     }
.txt-font-11-03    { font-size: 11.3vw;     }
.txt-font-11-04    { font-size: 11.4vw;     }
.txt-font-11-05    { font-size: 11.5vw;     }
.txt-font-11-06    { font-size: 11.6vw;     }
.txt-font-11-07    { font-size: 11.7vw;     }
.txt-font-11-08    { font-size: 11.8vw;     }
.txt-font-11-09    { font-size: 11.9vw;     }
.txt-font-12       { font-size:   12vw;     }
.txt-font-12-01    { font-size: 12.1vw;     }
.txt-font-12-02    { font-size: 12.2vw;     }
.txt-font-12-03    { font-size: 12.3vw;     }
.txt-font-12-04    { font-size: 12.4vw;     }
.txt-font-12-05    { font-size: 12.5vw;     }
.txt-font-12-06    { font-size: 12.6vw;     }
.txt-font-12-07    { font-size: 12.7vw;     }
.txt-font-12-08    { font-size: 12.8vw;     }
.txt-font-12-09    { font-size: 12.9vw;     }
.txt-font-13       { font-size:   13vw;     }
.txt-font-13-01    { font-size: 13.1vw;     }
.txt-font-13-02    { font-size: 13.2vw;     }
.txt-font-13-03    { font-size: 13.3vw;     }
.txt-font-13-04    { font-size: 13.4vw;     }
.txt-font-13-05    { font-size: 13.5vw;     }
.txt-font-13-06    { font-size: 13.6vw;     }
.txt-font-13-07    { font-size: 13.7vw;     }
.txt-font-13-08    { font-size: 13.8vw;     }
.txt-font-13-09    { font-size: 13.9vw;     }
.txt-font-14       { font-size:   14vw;     }
.txt-font-14-01    { font-size: 14.1vw;     }
.txt-font-14-02    { font-size: 14.2vw;     }
.txt-font-14-03    { font-size: 14.3vw;     }
.txt-font-14-04    { font-size: 14.4vw;     }
.txt-font-14-05    { font-size: 14.5vw;     }
.txt-font-14-06    { font-size: 14.6vw;     }
.txt-font-14-07    { font-size: 14.7vw;     }
.txt-font-14-08    { font-size: 14.8vw;     }
.txt-font-14-09    { font-size: 14.9vw;     }
.txt-font-15       { font-size:   15vw;     }
.txt-font-15-01    { font-size: 15.1vw;     }
.txt-font-15-02    { font-size: 15.2vw;     }
.txt-font-15-03    { font-size: 15.3vw;     }
.txt-font-15-04    { font-size: 15.4vw;     }
.txt-font-15-05    { font-size: 15.5vw;     }
.txt-font-15-06    { font-size: 15.6vw;     }
.txt-font-15-07    { font-size: 15.7vw;     }
.txt-font-15-08    { font-size: 15.8vw;     }
.txt-font-15-09    { font-size: 15.9vw;     }
.txt-font-16       { font-size:   16vw;     }
.txt-font-16-01    { font-size: 16.1vw;     }
.txt-font-16-02    { font-size: 16.2vw;     }
.txt-font-16-03    { font-size: 16.3vw;     }
.txt-font-16-04    { font-size: 16.4vw;     }
.txt-font-16-05    { font-size: 16.5vw;     }
.txt-font-16-06    { font-size: 16.6vw;     }
.txt-font-16-07    { font-size: 16.7vw;     }
.txt-font-16-08    { font-size: 16.8vw;     }
.txt-font-16-09    { font-size: 16.9vw;     }
.txt-font-17       { font-size:   17vw;     }
.txt-font-17-01    { font-size: 17.1vw;     }
.txt-font-17-02    { font-size: 17.2vw;     }
.txt-font-17-03    { font-size: 17.3vw;     }
.txt-font-17-04    { font-size: 17.4vw;     }
.txt-font-17-05    { font-size: 17.5vw;     }
.txt-font-17-06    { font-size: 17.6vw;     }
.txt-font-17-07    { font-size: 17.7vw;     }
.txt-font-17-08    { font-size: 17.8vw;     }
.txt-font-17-09    { font-size: 17.9vw;     }
.txt-font-18       { font-size:   18vw;     }
.txt-font-18-01    { font-size: 18.1vw;     }
.txt-font-18-02    { font-size: 18.2vw;     }
.txt-font-18-03    { font-size: 18.3vw;     }
.txt-font-18-04    { font-size: 18.4vw;     }
.txt-font-18-05    { font-size: 18.5vw;     }
.txt-font-18-06    { font-size: 18.6vw;     }
.txt-font-18-07    { font-size: 18.7vw;     }
.txt-font-18-08    { font-size: 18.8vw;     }
.txt-font-18-09    { font-size: 18.9vw;     }
.txt-font-19       { font-size:   19vw;     }
.txt-font-19-01    { font-size: 19.1vw;     }
.txt-font-19-02    { font-size: 19.2vw;     }
.txt-font-19-03    { font-size: 19.3vw;     }
.txt-font-19-04    { font-size: 19.4vw;     }
.txt-font-19-05    { font-size: 19.5vw;     }
.txt-font-19-06    { font-size: 19.6vw;     }
.txt-font-19-07    { font-size: 19.7vw;     }
.txt-font-19-08    { font-size: 19.8vw;     }
.txt-font-19-09    { font-size: 19.9vw;     }
.txt-font-20       { font-size:   20vw;     }
